.App {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.todo span {
  margin-right: 10px;
}

.todo button {
  margin-left: auto;
}
